

div {
	&.someClasses {
		color: rosybrown;
	}
	&.isItSassy {
		border: 1px solid green;
		box-shadow: 1px 1px 1px 1px rgb(100,140,100);
	}
}

::placeholder {
	color: gray;
}

// Helpers
@import 'helpers/base';
@import 'helpers/parameters';
@import 'helpers/functions';
@import 'helpers/mixins.button';
@import 'helpers/typography';

// Components
@import 'components/buttons';

// Pages

// Layout
